@import "bootstrap-sprockets";
@import "bootstrap";

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
}

#logo {
    float: left;
    color : gray;
    font-size: 25px;
    font-weight: bold;
    padding-top: 9px;
    color: white;
}

#logo:hover {
    color: lightgray;
    text-decoration: none;
}

div.main-box {
    margin-top: 55px;
}

.btn{
    padding: 5px 15px;
    background-color: #005aff ;
    border-radius: 5px;
    line-height: 25px;
    color: white;
    margin: 1px;
}
 .description {
     width: 500px;
 }